@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url('./OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: bold;
  src: local('OpenSans-SemiBold'),
    url('./OpenSans-SemiBold.ttf') format('truetype');
}

body {
  background-color: #f3f7fa;
  font-size: 12px;
}

.App {
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'OpenSans', sans-serif;
}
