@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url('./OpenSans-Regular.ttf') format('truetype');
}

body {
  background-color: #f3f7fa;
}

.App {
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'OpenSans', sans-serif;
}
