@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url('./OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: bold;
  src: local('OpenSans-SemiBold'),
    url('./OpenSans-SemiBold.ttf') format('truetype');
}

body {
  background-color: #f3f7fa;
  font-size: 12px;
}

.App {
  margin: 0 auto;
  width: 820px;
  font-family: 'OpenSans', sans-serif;
}

.App__left-side {
	float: left;
	width: 230px;
}

.App__main {
	margin-left: 18px;
	float: left;
	width: 572px;
}

.white-block {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 25px rgba(91,137,163,0.1);
}